.beers{
    font-size: 40px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    /* display: inline-block; */
}

.wines{
    font-size: 40px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    /* display: inline-block; */
}

.shots{
    font-size: 40px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
    /* display: inline-block; */
}